final_result*
reservoir-shift*
timeseries_2018*
.classpath
target
.vscode
.settings
timeseries_*
hs_err*
population-timeSeries.txt
/03-may-2018/
/15-aug-2018/
/20-jun-2018/
/21-may-2018/
/25-may-2018/
/jcommon-1.0.18/
/jfreechart-1.0.15/
